@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-glass {
        @apply bg-gray-100 bg-opacity-10 rounded-lg shadow-2xl backdrop-blur-sm p-5;
    }

    .document-padding {
        @apply p-5 sm:px-20 2xl:px-[30vw];
    }

    .document-padding-l {
        @apply pl-5 sm:pl-20 2xl:pl-[30vw];
    }

    .document-padding-r {
        @apply pr-5 sm:pr-20 2xl:pr-[30vw];
    }
}

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    :root:has(.no-doc-scroll) {
      overflow: hidden;
    }

    a.external::after {
        display: inline-block;
        content: "";
        background: currentColor no-repeat 100% 100%;
        -webkit-mask-image: url(../public/icons/external.svg) no-repeat 100% 100%;
        mask: url(../public/icons/external.svg) no-repeat 100% 100%;
        mask-size: cover;
        margin-left: 0.2em;
        margin-bottom: 0.3em;
        width: 0.5em;
        height: 0.5em;
    }
}

a:hover {
    text-decoration: line-through;
}